<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewis.dao.local.PayCostMapper">

    <select id="list" resultType="PayCost">
        SELECT *
        FROM PayCost
    </select>

</mapper>